.mat-card {
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.tile {
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 15px;
}
