<div *ngIf="loading" class="flex-center">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!loading" class="container grid-container">
  <div class="list">
    <div class="found">Найдено {{list.length}}</div>
    <mat-action-list>
      <button
        mat-list-item
        *ngFor="let item of list"
        [routerLink]="['/' + model, item.id]"
      >
        {{item.name}}
      </button>
    </mat-action-list>
  </div>
  <div class="add-form">
    <mat-form-field>
      <mat-label>{{inputLabel}}</mat-label>
      <input autocomplete="off" [(ngModel)]="newName" type="text" matInput>
    </mat-form-field>
    <button (click)="add()" [disabled]="!newName.trim()" color="primary" mat-button>Добавить</button>
  </div>
</div>
