<div class="wrap-container">
  <span class="num">
    {{num}})
  </span> 
  <div *ngIf="!someWeek" class="w-100">

    <app-subgroup-wrapper
      

      [view]="view"
      [lessons]="lessons"
      (deleteLesson)="deleteLesson.emit($event)"
    ></app-subgroup-wrapper>
  </div>

  <div class="w-100" *ngIf="someWeek">
    <mat-tab-group>
      <mat-tab 
        *ngFor="let lessons of sortByWeek; let index = index; trackBy:indexTrack"
        [label]="index === 0? 'Верх. нед' : 'Ниж. нед'"
      >
        <div class="w-100">
          <app-subgroup-wrapper
            [view]="view"
            [pair]="num"
            [week]="week"
            [lessons]="lessons"
            (deleteLesson)="deleteLesson.emit($event)"
          ></app-subgroup-wrapper>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
