<div *ngIf="errorStorage.status" class="error">
  Ошибка ({{errorStorage.status}})
</div>
<mat-drawer-container *ngIf="!errorStorage.status"  class="layout-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-action-list>
      <button mat-list-item routerLink="/groups" >Группы</button>
      <button mat-list-item routerLink="/teachers" >Учителя</button>
      <button mat-list-item routerLink="/rooms" >Кабинеты</button>
    </mat-action-list>

  </mat-drawer>
  <mat-toolbar color="primary">
    <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
  </mat-toolbar>
  <router-outlet></router-outlet>

</mat-drawer-container>
