.wrap-container {
    border: 0.5px solid rgb(189, 189, 189);
    height: auto;
    padding: 10px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.num {
    padding-right: 5px;
}