/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  margin: 0 auto;
  max-width: 1300px;
  padding-top: 10px;
}

.mat-form-field {
  width: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.flex-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.lesson {
  font-weight: 700 !important;
}

.mat-tab-label {
  height: 25px !important;
}