.lesson, .window {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.main {
    font-weight: 600;
    font-size: 1.2em;
}

.num {
    margin-right: 5px;
}

.sec {
    color: grey;
    font-size: .8em;
}

.subgroups {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.subgroup {
    border-right: 0.5px solid rgb(182, 182, 182);
    padding-right: 5px;
}

.subgroup:last-child {
    border-right: none;
    padding-left: 5px;
    padding-right: 0;
}
